name: Scan

on:
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch:
    inputs:
      image-tag:
        description: Docker image tag
        required: true
        default: "master"

jobs:
  scan:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        build-context:
          - base
          - dotnet
          - go
          - haskell
          - java
          - npm
          - php
          - python
          - ruby
          - swift
    steps:
      - uses: actions/checkout@v2
      - uses: Azure/container-scan@v0
        continue-on-error: true # TODO: Remove this
        with:
          image-name: sider/devon_rex_${{ matrix.build-context }}:${{ github.event.inputs.image-tag }}
